     <div class="panel panel-default">
              <div class="panel-heading">
                <h2><strong>About</strong></h2>
                <div class="panel-actions">
                  <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                  <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                </div>

              </div>
              <div class="panel-body">

                 <h1 class="text-center">nodeTodos <i class="fa fa-check-circle fa-2x" style="color:rgb(121, 233, 121)"></i></h1>
                 <p>A Todo List is probably just tiny lists of tasks to be accomplished and nodeTodos is an implementation of such lists but in a computerized scheduled way using Node JS, Express and few other cool modules you pretty wanna dive into. It's certainly not much but it was made with lots of love and energy from Atutechs Corp on 2021. Peace!!</p>   
              </div>
            </div>