
    <div class="container">

        <form class="login-form" action="/signup" method="post">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_profile"></i></p>
                {{> home/msgs}}

                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" name="fullname" required="" validate="" class="form-control" placeholder="Name" autofocus="">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" required="" validate="" class="form-control" placeholder="Email">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="password" required="" class="form-control" placeholder="Password">
                </div>

                <label class="checkbox">
                    <input type="checkbox" value="remember-me" required=""> Agree to terms and conditions 
                </label>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                <a class="btn btn-info btn-lg btn-block" href="/signin">Sign in</a>

            </div>

        </form>
    
    </div>