{{#if error_msg}}
    <div class="alert alert-danger"><a href='#' class='close' data-dismiss='alert' aria-label='close' >&times;</a> {{error_msg}} </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger"><a href='#' class='close' data-dismiss='alert' aria-label='close' >&times;</a> {{error}} </div>
{{/if}}


{{#if success_msg}}
    <div class="alert alert-success"><a href='#' class='close' data-dismiss='alert' aria-label='close' >&times;</a> {{success_msg}} </div>
{{/if}}