<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
          <ul class="sidebar-menu" style="padding-top: 10px;" >
          <div class="text-center" >
            <div style="margin-top: 10px; padding-bottom:10px;"> 
               {{#if loggedUser.file}}
                    <img alt="" src="/uploads/{{loggedUser.file}}" width="70" class="img-circle img-thumbnail" >
                  {{else}}
                    <img alt="" src="/uploads/default.png" width="70">
                {{/if}}           
              </div>
              <span>Welcome,</span>
              <h4>{{loggedUser.fullname}}</h4>
          </div>

          <li class="active">
            <a class="" href="/admin">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
          </li>

           <li>
            <a class="" href="/admin/users/profile/">
                          <i class="fa fa-user"></i>
                          <span>Profile</span>
                      </a>
          </li>

        <li class="sub-menu">
                <a href="javascript:;" class="">
                            <i class="fa fa-list-ol"></i>
                            <span>Todos</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                <ul class="sub">
                     
                    <li><a class="" href="/admin/todos/create">Create Todos</a></li>
                    <li><a class="" href="/admin/todos/dummy">Dummy Todos</a></li>
                    <li><a class="" href="/admin/todos/">All Todos</a></li>
                    <li><a class="" href="/admin/todos/completed">Completed Todos</a></li>
                    <li><a class="" href="/admin/todos/incomplete">Incompleted Todos</a></li>
                    <li><a class="" href="/admin/todos/cancelled">Cancelled Todos</a></li>
                </ul>
            </li>

          {{#ifeq loggedUser.role 'Admin'}}
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="fa fa-group"></i>
                          <span>Users</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" href="/admin/users">All Users</a></li>
              <li><a class="" href="/admin/users/create">Create Users</a></li>
              <li><a class="" href="/admin/users/dummy">Generate Dummy</a></li>
            </ul>
          </li>
          {{/ifeq}}


           <li>
            <a class="" href="/"><i class="fa fa-info-circle"></i><span>About</span></a>
          </li>


          
            
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->