
<form action="/admin/users/create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Fullname</label>
            <input type="text" class="form-control" name="fullname" required autofocus> 
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Email</label>
            <input type="text" class="form-control" name="email" required > 
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Phone</label>
            <input type="text" class="form-control" name="phone" required > 
        </div>

    </div>


     <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Role</label>
            <select name="role" class="form-control" id="" required>
                <option value="Subscriber">Subscriber</option>
                <option value="Admin">Admin</option>

            </select>
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Status</label>
            <select name="status" class="form-control" id="" required>
                <option value="Active">Active</option>
                <option value="Unactive">Unactive</option>

            </select>
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Imagery</label>
             <input type="file" accept="image/*" name="file" id="inpFile" class="form-control" style="display: none;"><br>
            <button type="button" id="upload-btn" class="btn btn-success">Upload <i class="fa fa-file fa-2x"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="" class="control-label">Password</label>
            <input type="password" name="password" placeholder="********" class="form-control" required id="">
        </div>
        

        <div class="col-md-6">
              <div class="image-preview pull-right" id="imagePreview">
                <img width="100" class="img-circle image-preview__image" src="/uploads/default.png" alt=""> 
                <span class="image-preview__default-text"> </span>
              </div>
        </div>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Create User <i class="fa fa-user fa-2x"></i></button>
    </div>
</form>





