<body>
  <!-- container section start -->
  <section id="container" class="">
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="/admin" class="logo">nodeTodos <span class="lite">Home</span></a>
      <!--logo end-->

      <div class="nav search-row" id="top_menu">
        <!--  search form start -->
        <ul class="nav top-menu">
          <li>
            <form class="navbar-form">
              <input class="form-control" placeholder="Search" type="text">
            </form>
          </li>
        </ul>
        <!--  search form end -->
      </div>

      <div class="top-nav notification-row">
        <ul class="nav pull-right top-menu">
 {{#if loggedUser}}
          <!-- user login dropdown start-->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="profile-ava">
                    {{#if loggedUser.file}}
                      <img alt="" src="/uploads/{{loggedUser.file}}" width="30">
                    {{else}}
                      <img alt="" src="/uploads/default.png" width="30">
                    {{/if}}
                </span>


                <span class="username">{{loggedUser.name}}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
              <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="/admin/profile/"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                <a href="/logout"><i class="icon_key_alt"></i> Log Out</a>
              </li>
             
            </ul>
          </li>
          <!-- user login dropdown end -->
        </ul>
      </div>
  {{/if}}
    </header>
    <!--header end-->