<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" style="padding-top: 10px;" >
          <div class="text-center" >
             {{#if loggedUser}}
            <div style="margin-top: 10px; padding-bottom:10px;"> 
                  {{#if loggedUser.file}}
                        <img alt="" src="/uploads/{{loggedUser.file}}" width="70" class="img-circle img-thumbnail" >
                      {{else}}
                        <img alt="" src="/uploads/default.png" width="70">
                  {{/if}}           
                </div>
                <span>Welcome,</span>
                <h4>{{loggedUser.fullname}}</h4>

              {{else}}
                <div style="margin-top: 10px; padding-bottom:10px;"> 
                  <img alt="" src="/uploads/default.png" width="70">
                </div>
                  <span>Welcome,</span>
                  <h4>Guest User</h4>
              {{/if}}
          </div>

          <li class="active">
            <a class="" href="/">
                          <i class="fa fa-tachometer"></i>
                          <span>Home</span>
                      </a>
          </li>

           <li>
            <a class="" href="/"><i class="fa fa-info-circle"></i><span>About</span></a>
          </li>
    
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->